<!DOCTYPE html>
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheet and Theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    {% if current_user.is_authenticated %}
        <link rel="stylesheet" href="{{ url_for('static', filename=current_user.theme+'.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='greensboro_winter.css') }}">
    {% endif %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Serif+Display:wght@900&display=swap" rel="stylesheet">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/c6778fb0ad.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!-- Javascript Libraries -->
    <script src="{{ url_for('static', filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

    <!-- PWA Resources -->
    <link rel="manifest" href="{{ url_for('static', filename='app.webmanifest') }}">
    <meta name="background_color" content="#060B0A" media="(prefers-color-scheme: dark)">
    <meta name="theme_color" content="#0a3200" media="(prefers-color-scheme: dark)">

    {% block base_head %}{% endblock %}
</head>

<body>
    {% block base_body %}{% endblock %}
</body>