{% extends "base.html" %}

{% block base_head %}
    <!-- Chart.js Resources -->
    <script>
        const $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- Logged-In PWA Resources -->
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{{ url_for('main.service_worker_load') }}");
        }
    </script>

    {% block head %}{% endblock %}
{% endblock %}

{% block base_body %}
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('main.stats') }}">{{ _('Stats') }}</a></li>
            <li><a href="{{ url_for('main.view_courses') }}">{{ _('Courses') }}</a></li>
            <li><a href="{{ url_for('main.view_todos') }}">{{ _('To-Dos') }}</a></li>
            <li style="float: right;"><a href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a></li>
            <li style="float: right;"><a href="{{ url_for('main.view_self') }}">{{ _('My Account') }}</a></li>
        </ul>
    </nav>

    <div class="notification-window">
        <span id="notification-banner" style="display: none;">
            <i class="fa-solid fa-bell" aria-hidden="true" style="display: inline;"></i>
            <p id="notification-text" style="display: inline;"></p>
        </span>
    </div>
    <script>
        checkNotifications();
        setInterval(
            checkNotifications,
            60000
        );
    </script>

    <div class="mobile-nav">
        <ul>
            <li><a href="{{ url_for('main.index') }}"><i class="fa-solid fa-house"></i></a></li>
            <li><a href="{{ url_for('main.stats') }}"><i class="fa-solid fa-chart-column"></i></a></li>
            <li><a href="{{ url_for('main.view_courses') }}"><i class="fa-solid fa-person-chalkboard"></i></a></li>
            <li><a href="{{ url_for('main.view_todos') }}"><i class="fa-solid fa-list-check"></i></a></li>
            <li><a href="{{ url_for('main.view_self') }}"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </div>

    <div class="contents">
        {% block body %}{% endblock %}
    </div>
{% endblock %}