{% extends "base.html" %}

{% block base_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_auth.css') }}">

    {% block head %}{% endblock %}
{% endblock %}

{% block base_body %}
    <nav>
        <ul>
            <li><a href="{{ url_for('auth.front_page') }}">About Us</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
        </ul>
    </nav>
    <div class="contents">
        {% block body %}{% endblock %}
    </div>
{% endblock %}