{% extends "base.html" %}

{% block base_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet_main.css') }}">

    {% block head %}{% endblock %}
{% endblock %}

{% block base_body %}
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
            <li><a href="{{ url_for('main.view_courses') }}">{{ _('Courses') }}</a></li>
            <li><a href="{{ url_for('main.view_todos') }}">{{ _('To-Dos') }}</a></li>
            <li><a href="{{ url_for('main.view_semesters') }}">{{ _('Semesters') }}</a></li>
            <li style="float: right;"><a href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a></li>
            <li style="float: right;"><a href="{{ url_for('main.view_self') }}">{{ _('My Account') }}</a></li>
        </ul>
    </nav>
    <div class="contents">
        {% block body %}{% endblock %}
    </div>
{% endblock %}