{% extends "base_main.html" %}

{% block head %}
    <title>New {{ title }}</title>
{% endblock %}

{% block body %}
    <h1>Create New {{ title }}</h1>
    <form method="POST" action="{{ action }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <button type="submit">Create {{ title }}</button>
    </form>
{% endblock %}