{% extends "base_main.html" %}

{% block head %}
    <title>New Semester</title>
{% endblock %}

{% block body %}
    <h1>Create New Semester</h1>
    <form method="POST" action="/semesters/create">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <button type="submit">Create Semester</button>
    </form>
{% endblock %}