{% extends "base_main.html" %}

{% block head %}
    <title>{{ _('Delete %(name)s', name=target.name) }}</title>
{% endblock %}

{% block body %}
    <h1>{{ _('Delete %(name)s', name=target.name) }}</h1>
    <p>{{ _('Deleting %(name)s will also permanently delete all data associated with it. Type "I understand." below to continue.', name=target.name) }}</p>
    <form method="POST" action="{{ action }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <button class="fear-button" type="submit">{{ _('Delete %(name)s', name=target.name) }}</button>
    </form>
    <a class="link-button" href="{{ url_for('main.index') }}">{{ _('Cancel') }}</a>
{% endblock %}