{% extends "base_main.html" %}

{% block head %}
    <title>Delete {{ target.name }}</title>
{% endblock %}

{% block body %}
    <h1>Delete <em>{{ target.name }}</em></h1>
    <p>Deleting <em>{{ target.name }}</em> will also permanently delete all data associated with it. Type "I understand." below to continue.</p>
    <form method="POST" action="{{ action }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <button class="fear-button" type="submit">Delete {{ target.name }}</button>
    </form>
    <a class="link-button" href="{{ url_for('main.index') }}">Cancel</a>
{% endblock %}