{% extends "base_main.html" %}

{% block head %}
    <title>{{ _('Edit %(name)s', name=form.name.data) }}</title>
{% endblock %}

{% block body %}
    <h1>{{ _('Edit %(name)s', name=form.name.data) }}</h1>
    <form method="POST" action="{{ action }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        <button type="submit">{{ _('Save') }}</button>
    </form>
    <br><br>
    <a class="link-button fear-button" href="{{ delete_action }}">{{ _('Delete %(name)s', name=form.name.data) }}</a>
{% endblock %}