{% extends "base_auth.html" %}

{% block head %}
    <title>{{ _('FluxStudy: Learn Differently') }}</title>
{% endblock %}

{% block body %}
    <h1>{{ _('Welcome to FluxStudy.') }}</h1>
    <!-- <img style="background-color: var(--text-color); border-radius: 20px; margin-left: auto; margin-right: auto;" src="{{ url_for('static', filename='icon.png') }}" width="512" height="512"> -->
    <p style="text-align: center;">{{ _("Nobody likes wasted time. FluxStudy is a simple, elegant tool to help you manage your workload, so you can succeed in style and find more time for the things you love.") }}</p>
    <a style="margin-left: auto; margin-right: auto;" class="link-button thick-button" href="{{ url_for('auth.signup') }}">{{ _("Join Today") }}</a>
{% endblock %}