{% extends "base_main.html" %}

{% block head %}
    <title>{{ _('Study %(name)s', name=target.name) }}</title>
{% endblock %}

{% block body %}
    <script>$('#studyTimer').on("load", startStudyTimer())</script>
    <h1>{{ _('Study %(name)s', name=target.name) }}</h1>
    <div class="subelement">
        <h2 style="margin-left: auto; margin-right: auto;" id="studyTimer">00:00:00</h2>
    </div>
    <br><br>
    <div style="display: inline; margin-left: auto; margin-right: auto; margin-top: 2%;">
        {% for action_link in action_links %}
            <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{action_link[1]}}">{{action_link[0]}}</a>
        {% endfor %}
    </div>
{% endblock %}