{% extends "base_main.html" %}

{% block head %}
    <title>Semesters</title>
{% endblock %}

{% block body %}
    <h1>View Semesters</h1>
    <div>
        <a href="{{ url_for('main.create_semester') }}">Add a Semester</a>
    </div>
    {% if semesters|length > 0 %}
        <table>
            <tr>
                <strong>
                    <th>Semester</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Actions</th>
                </strong>
            </tr>
            {% for semester in semesters %}
                <tr>
                    <td>{{ semester.name }}</td>
                    <td>{{ semester.start_datetime.strftime("%Y-%m-%d") }}</td>
                    <td>{{ semester.end_datetime.strftime("%Y-%m-%d") }}</td>
                    <td>
                        <a href="{{ url_for('main.view_semester', semester_id=semester.id) }}">View</a>
                        <a href="{{ url_for('main.edit_semester', semester_id=semester.id) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}