{% extends "base_main.html" %}

{% block head %}
    <title>{{ assignment.name }}</title>
{% endblock %}

{% block body %}
    <h1>{{ assignment.name }}</h1>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('main.edit_assignment', assignment_id=assignment.id) }}">{{ _('Edit') }}</a>
    <p style="margin-left: auto; margin-right: auto;">{{ _('Due by %(due_date)s', due_date=assignment.due_datetime.strftime("%Y-%m-%d %H:%M:%S")) }}</p>
    <p style="margin-left: auto; margin-right: auto;">{{ _("Complete") if assignment.completed else _("Incomplete") }}</p>
    <p style="margin-left: auto; margin-right: auto;">{{ _('%(total_time)s total study time.', total_time=hours) }}</p>
{% endblock %}