{% extends "base_main.html" %}

{% block head %}
    <title>{{ _('My Account') }}</title>
{% endblock %}

{% block body %}
    <h1>{{ _('My Account') }}</h1>
    <p style="margin-left: auto; margin-right: auto;">{{ user.firstname }} {{ user.lastname }}</p>
    <p style="margin-left: auto; margin-right: auto;">{{ _('Member for %(num_days)s days.', num_days=duration) }}</p>
    <p style="margin-left: auto; margin-right: auto;">{{ _('%(total_time)s total study time.', total_time=hours) }}</p>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('main.edit_self') }}">{{ _('Settings') }}</a>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('main.edit_self_password') }}">{{ _('Change Password') }}</a>
    <br><br>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('auth.logout') }}">{{ _('Log Out') }}</a>
{% endblock %}