{% extends "base_main.html" %}

{% block head %}
    <title>{{ todo.name }}</title>
{% endblock %}

{% block body %}
    <h1>{{ todo.name }}</h1>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('main.edit_todo', todo_id=todo.id) }}">Edit</a>
    {% if todo.description %}
        <p style="margin-left: auto; margin-right: auto;">{{ todo.description }}</p>
    {% endif %}
    {% if todo.finish_datetime %}
        <p style="margin-left: auto; margin-right: auto;">Complete by todo.finish_datetime.strftime("%Y-%m-%d")</p>
    {% endif %}
    <p style="margin-left: auto; margin-right: auto;">{{"Complete" if todo.completed else "Incomplete"}}</p>
{% endblock %}