{% extends "base_main.html" %}

{% block head %}
    <title>{{ _('To-Dos') }}</title>
{% endblock %}

{% block body %}
    <h1>{{ _('To-Dos') }}</h1>
    <a class="link-button" href="{{ url_for('main.create_todo') }}">{{ _('New To-Do') }}</a>

    {% if (overdue_todos|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Past Due') }}</h3>
            {% for todo in overdue_todos %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ todo.name }}</strong>
                        {% if todo.finish_datetime %}
                            <p>{{ _('Finish by %(finish)s', finish=todo.finish_datetime.strftime("%Y-%m-%d")) }}</p>
                        {% endif %}
                        {% if todo.description %}
                            <p>{{ todo.description }}</p>
                        {% endif %}
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_todo', todo_id=todo.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_todo', todo_id=todo.id) }}">{{ _('Edit') }}</a>
                        <a class="link-button" href="{{ url_for('main.complete_todo', todo_id=todo.id) }}">{{ _('Done') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if (active_todos|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Current') }}</h3>
            {% for todo in active_todos %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ todo.name }}</strong>
                        {% if todo.finish_datetime %}
                            <p>{{ _('Finish by %(finish)s', finish=todo.finish_datetime.strftime("%Y-%m-%d")) }}</p>
                        {% endif %}
                        {% if todo.description %}
                            <p>{{ todo.description }}</p>
                        {% endif %}
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_todo', todo_id=todo.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_todo', todo_id=todo.id) }}">{{ _('Edit') }}</a>
                        <a class="link-button" href="{{ url_for('main.complete_todo', todo_id=todo.id) }}">{{ _('Done') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if (past_todos|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Past') }}</h3>
            {% for todo in past_todos %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ todo.name }}</strong>
                        {% if todo.description %}
                            <p>{{ todo.description }}</p>
                        {% endif %}
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_todo', todo_id=todo.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_todo', todo_id=todo.id) }}">{{ _('Edit') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}