{% extends "base_main.html" %}

{% block head %}
    <title>Courses</title>
{% endblock %}

{% block body %}
    <h1>Current Courses</h1>
    <div>
        <a class="link-button" href="{{ url_for('main.create_course') }}">Add a Course</a>
    </div>
    {% if courses|length > 0 %}
        <div class="subregion">
            {% for course in courses %}
                <div class="subelement">
                    <div style="display: block;">
                        <h3>{{ course.name }}</h3>
                        <p>{{ course.short_name }}</p>
                        <p>{{ course.credits }} credits</p>
                    </div>
                    <div style="margin-left: auto;">
                        <a class="link-button" href="{{ url_for('main.view_course', course_id=course.id) }}">View</a>
                        <a class="link-button" href="{{ url_for('main.edit_course', course_id=course.id) }}">Edit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}