{% extends "base_main.html" %}

{% block head %}
    <title>{{ course.name }}</title>
{% endblock %}

{% block body %}
    <h1>{{ course.name }}</h1>
    <a class="link-button" style="margin-left: auto; margin-right: auto;" href="{{ url_for('main.edit_course', course_id=course.id) }}">{{ _('Edit') }}</a>
    <p style="margin-left: auto; margin-right: auto;">{{ course.short_name }}</p>
    <p style="margin-left: auto; margin-right: auto;">{{ _('%(credits)s credits', credits=course.credits) }}</p>
    {% if (overdue_assignments|length > 0) or (active_assignments|length > 0) or (past_assignments|length > 0) %}
        <h2>{{ _('Assignments') }}</h2>
    {% endif %}
    {% if (overdue_assignments|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Past Due') }}</h3>
            {% for assignment in overdue_assignments %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ assignment.name }}</strong>
                        <p>{{ _('Due by %(due_date)s', due_date=assignment.due_datetime.strftime("%Y-%m-%d %H:%M:%S")) }}</p>
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_assignment', assignment_id=assignment.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_assignment', assignment_id=assignment.id) }}">{{ _('Edit') }}</a>
                        <a class="link-button" href="{{ url_for('main.complete_assignment', assignment_id=assignment.id) }}">{{ _('Done') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if (active_assignments|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Current') }}</h3>
            {% for assignment in active_assignments %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ assignment.name }}</strong>
                        <p>{{ _('Due by %(due_date)s', due_date=assignment.due_datetime.strftime("%Y-%m-%d %H:%M:%S")) }}</p>
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_assignment', assignment_id=assignment.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_assignment', assignment_id=assignment.id) }}">{{ _('Edit') }}</a>
                        <a class="link-button" href="{{ url_for('main.complete_assignment', assignment_id=assignment.id) }}">{{ _('Done') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if (past_assignments|length > 0) %}
        <div class="subregion">
            <h3>{{ _('Past') }}</h3>
            {% for assignment in past_assignments %}
                <div class="subelement">
                    <div style="display: block;">
                        <strong>{{ assignment.name }}</strong>
                        <p>{{ _('Due by %(due_date)s', due_date=assignment.due_datetime.strftime("%Y-%m-%d %H:%M:%S")) }}</p>
                    </div>
                    <div style="margin-left: auto; display: flex;">
                        <a class="link-button" href="{{ url_for('main.view_assignment', assignment_id=assignment.id) }}">{{ _('View') }}</a>
                        <a class="link-button" href="{{ url_for('main.edit_assignment', assignment_id=assignment.id) }}">{{ _('Edit') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}