{% extends "base.html" %}

{% block head %}
    <title>Log In</title>
{% endblock %}

{% block body %}
    <h1>Log In</h1>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" autofocus="">
        <input type="password" name="password" placeholder="Password">
        <div>
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <button>Log In</button>
    </form>
{% endblock %}